   <!-- Navbar -->
   <nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <% if(page==="home"){%>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#gallary">Menu</a>
            </li>
            <li class="nav-item"id="yourCart">
                <a class="nav-link" href="/Cart">Your cart</a>
            </li><%}%>
        </ul>
        <a class="navbar-brand m-auto" href="#">
            <img src="assets/imgs/logo.svg" class="brand-img" alt="">
            <span class="brand-txt">Food Hut</span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact Us</a>
            </li>
            <li class="nav-item log">
                <a href="InAndUp" class="btn btn-primary ml-xl-4">Login
                </a>
            </li>
            <li class="nav-item user">
                <span id="user" href="" class="btn btn-primary ml-xl-4">
                    <%=username%>
                </span>
            </li>
        </ul>
    </div>
</nav>